.probando{
  background-color: #4c9a45;
  //padding: 50px;
  color: #f0f0d8;
  //margin-top: 50px;
  font-size: 17px;
}

/* Styles for tab labels */

//.mat-tab-label {
//  min-width: 25px !important;
//  padding: 5px;
//  background-color: transparent;
//  color: red;
//  font-weight: 700;
//}

///* Styles for the active tab label */
//.mat-tab-label.mat-tab-label-active {
//  min-width: 25px !important;
//  padding: 5px;
//  background-color: transparent;
//  color: red;
//  font-weight: 700;
//}

/* Styles for the active tab label 222 */
.mat-tab-label.mat-tab-label-active {
  background-color: #66B2FF;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: BLUE;
}
