<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
	<mat-tab label="2516 Caratula">
		<app-caratula></app-caratula>
	</mat-tab>
	<mat-tab label="2516 (ESF - Patrimonio)">
		<app-patrimonio></app-patrimonio>
	</mat-tab>
	<mat-tab label="H3 (ERI - Renta Liquida)">
		<app-renta-liquida></app-renta-liquida>
	</mat-tab>
	<mat-tab label="H4 (Impuestos Diferido)">
		<app-impuestos-diferidos></app-impuestos-diferidos>
	</mat-tab>
	<mat-tab label="H5 (Ingreso y Facturacion)">
		<app-ingreso-y-facturacion></app-ingreso-y-facturacion>
	</mat-tab>
	<mat-tab label="H6 (Activos fijos)">
		<app-activos-fijos></app-activos-fijos>
	</mat-tab>
	<mat-tab label="H7 (Resumen ESF - ERI)">
		<app-resumen></app-resumen>
	</mat-tab>
	<mat-tab label="detalle renglones del 110">
		<app-detalle-renglones></app-detalle-renglones>
	</mat-tab>
	<mat-tab label="Formulario110">
		<app-formulario110></app-formulario110>
	</mat-tab>
</mat-tab-group>