<form [formGroup]="caratulaForm">

	<div formArrayName="data">

		<table>
			<tr *ngFor="let item of caratulaForm.get('data')['controls']; let i = index;" formGroupName="{{i}}">
				
					<th>{{i +1}}</th>
					<th>Nombre de {{item.value.name}} </th>
					<th><input type="number" formControlName="c1"></th>
					<th><input type="number" formControlName="c2"></th>
					<th><input type="number" formControlName="c3"></th>
					<th><input type="number" formControlName="c4"></th>
					<th><input type="number" formControlName="c5"></th>

					<th><input type="text" placeholder="Comentario" formControlName="comment"></th>
					<button (click)="getData(item)">Datos</button>
			</tr>
		</table>

	</div>

	<button mat-flat-button color="primary" (click)="showData()">Mostrar Datos</button> 
	<button mat-flat-button color="accent" (click)="sumData()">Sumar Datos</button>
	<button mat-flat-button color="accent" (click)="import()">Import</button>
	<button mat-flat-button color="accent" (click)="export()">Export</button>
</form>